<h1>Flight Information</h1>
<%= render partial: "layouts/errors", locals: { object: @flight} %>
<h3>Start of Trip</h3>
<p>

<%= f.hidden_field :destination_id %>
Airport: <%= f.text_field :airport_to %><br />
Airline: <%= f.text_field :airline_to %><br />
Date: <%= f.date_field :arrival %><br />


</p>
<h3>End of Trip</h3>
<p>
Airport: <%= f.text_field :airport_from %><br />
Airline: <%= f.text_field :airline_from %><br />
Date:  <%= f.date_field :departure %>
</p>
<h4>Total</h3>
   <p> price:  <%= f.number_field :ticket_price, step: :any %>
   </p>
  