<h1>Flight Information</h1>
<%= form_for(@flight) do |f|%>
<h2>Start of Trip</h2>
<p>
<%= f.hidden_field :destination_id %>
Airport: <%= f.text_field :airport_to %><br />
Airline: <%= f.text_field :airline_to %><br />
Date: <%= f.date_field :arrival %><br />


</p>
<h2>End of Trip</h2>
<p>
Airport: <%= f.text_field :airport_from %><br />
Airline: <%= f.text_field :airline_from %><br />
Date:  <%= f.date_field :departure %>
</p>
<h3>Total</h3>
   <p> price:  <%= f.number_field :ticket_price %>
   </p>
    <%= f.submit "Input Flight Info"%>
  <% end %>