
    
  
       <div class="row">
        <div class="col-xs-6 col-md-4"><h2>Welcome <%= current_user.email %></h2><br><br>
          <p>Total lodging expenses: <%= totlodgenum %></p><br><br>
          <p>Total flight expenses: <%= totflightnum %> </p>
        </div>
        <div class="col-xs-6 col-md-4"><div class="h2">Trips This month</div>
          <% if current_user.destinations.exists? && current_user.booked_trips.exists? %>
            <% current_user.flights.thismonth(Date.today.year, Date.today.mon).each do |flight| %>
          
            <p>-<%=flight.destination.location%></p>
            
          <% end %>
        
          
        <% end %>

          <div class="col-xs-6 col-md-4"><div class="h2">Distant Trips</h2></div>
         <% if current_user.destinations.exists? && current_user.booked_trips.exists? %>
            <% current_user.flights.distant(Date.today.year, Date.today.mon).each do |flight| %>
              
            <p>-<%= flight.destination.location%></p>
            
          <% end %>
        <% end %>
      </div>
    

</div>

