<%= form_for(@booked_trip) do |f| %>
  <br>
  <label>Trip Notes</label> <br>
  <%= f.text_area :trip_notes %><br>
  <label>Trip Savings:</label><br>
  <%= f.number_field :savings %><br>
 <%= f.hidden_field :flight_id %><br>
    
  
  <%= f.submit "Finalize Trip!" %>
  <% end %>