

<div class="h1"><%= @booked_trip.flight.destination.location%><br /></div>

<%= fl_to %><br>
<%= link_to "Edit Trip", edit_destination_path(@booked_trip.flight.destination.id) %><br>
<%= link_to " Delete trip ", booked_trip_path, method: 'delete' %><br>
<%= goals %>